<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <section id="about_section">
      <div class="container">
        <h1 class="text-center">About this site</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, atque quidem veniam amet optio voluptas explicabo deleniti temporibus nulla reiciendis nemo, ipsam quasi soluta porro eveniet odio consectetur. Cupiditate beatae voluptas, veniam harum dolor laboriosam repellendus voluptate non tempore eum voluptates? Expedita, magnam fuga. Sapiente non atque iste repudiandae rem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam voluptas atque quas enim accusamus nulla accusantium tempora, perspiciatis non eligendi labore repellendus eum in sed recusandae nemo unde tenetur! Ratione asperiores minus iste, eum quisquam mollitia fugit impedit velit voluptatem iusto suscipit perspiciatis quo sed. Voluptatem necessitatibus officia veniam amet!lorem20
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Non alias vel ullam incidunt, voluptatem beatae fuga delectus odi Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet ea, ullam totam, fugiat quam nihil inventore ipsam possimus facere ex maxime dicta deserunt porro eius dignissimos iure vel quod adipisci quaerat tempora esse eum optio ut? Nihil officia dolore autem itaque hic debitis ad, molestias, ipsum mollitia odio obcaecati similique?<p>
     </div>
      </section>
</body>
</html>