<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <section id="banner1_section" class="py-3">

         <div class="container">
            <div class="jumbotron">
               <h1 class="display-4">Hello, Everyone!</h1>
                 <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae itaque hic officiis necessitatibus a aut doloribus aliquam placeat corporis reiciendis, delectus voluptates officia illum. Totam aliquid sit qui, quia facilis fuga eius soluta, cum error possimus ipsam veniam sunt labore, temporibus harum fugit?.</p>
                 <hr class="my-4">
                   <p>It uses utility classes for typography and spacing to space content out within the larger container. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, repellendus.</p>
                 <div class="text-center">
                     <a class="btn btn-outline-primary m-auto" href="#" role="button">Start</a>
                 </div>
            </div>
         </div>
      </section>
</body>
</html>