<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <section id="contact_us_section" class="pink">
          
           <div class="container">

            <h2 class="text-center">Contact Us</h2>
             <div class="row">
               <form action="/process-contact-form" method="post">
                 <div class="col-md-6 m-auto">
            
                    <div class="form-group">
                        <label for="" class="form-control-label">Your Name:</label>
                        <input type="text" name="myName" id="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-control-label">Contact Number:</label>
                        <input type="number" name="myNumber" id="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-control-label">Email:</label>
                        <input type="email" name="myEmail" id="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-control-label">Message:</label>
                        <textarea name="myMessage" class="form-control" id="" cols="30" rows="10" placeholder="Enter Your Query"></textarea>
                    </div>
                    <div class="form-group text-center">

                    <button class="btn btn-secondary my-3">Submit</button>
                    </div>
                </div>
            </form>
             </div>
            </div>
      </section>
</body>
</html>