<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       #footer 
        {
            color: white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <section id="footer_section">
        <footer id="footer" class="footer pink">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                         @2024 Copyright: <span>Vishal</span>
                    </div>
                </div>
            </div>

        </footer>
    </section>
</body>
</html>