<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
     {{>navbar data=details}}
     {{>slider data=slides}}
     {{>banner1}}
     {{>services data=services}}
     {{>banner2}}
     {{>contact}}
     {{>about}}
     {{>banner3}}
     {{>footer}}

</body>
</html>  